[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[scripts]
dev = "flask run"
